name: Update repo

on:
  push:
    branches: 
      - main

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with: 
          repository: sharpenedblade/t2linux-fedora-repo
          token: ${{ secrets.PRIVATE_TOKEN_GITHUB }}

      - name: Get New Packages
        uses: robinraju/release-downloader@v1.4
        with:
          repository: "sharpenedblade/t2linux-fedora-kernel"
          latest: true
          fileName: "*.rpm"
          tarBall: false
          zipBall: false       

      - name: Update repo
        run: |
          mkdir /tmp/repo
          cp *.rpm /tmp/repo
          docker run -t -v "$PWD":/repo -v "/tmp/repo":/tmp/repo  fedora:35 /bin/bash -c "/repo/build.sh"
      - name: Commit
        run: |
          shopt -s dotglob
          git fetch
          git switch publish
          git pull
          cp -r /tmp/repo/* .
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions - update submodules"
          git add --all
          git commit -m "Update submodules" || echo "No changes to commit"
          git push origin publish
